body {
   background-color: #fef9f9; 
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}

#highlight {
    color: #91C8E4;
    font-weight: bold;
}

button {
    background-color: #91C8E4;
    padding: 15px;
font-size: 16px;
    color: black;
    border: 0;
    border-radius: 10px;
}